* {
    padding:0;
    margin:0;
}

main {
    color: white;
    width: 100vw;
    height: 100vh;
    background: rgb(1,0,13);
    background: linear-gradient(90deg, rgba(1,0,13,1) 0%, rgba(127,128,142,1) 100%, rgba(0,212,255,1) 100%);
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}

blockquote {
    font-size: 40px;
    max-width: 800px;
}

.author {
    font-size: 20px;
    margin-left: 25%;
}

#author {
    font-size: 16px;
}

img {
    max-width: 300px;
}